.App {
	font-family: sans-serif;
  }
  
  .DatePickerWithWeekday {
	display: inline-block;
	padding-left: 3px;
	border: thin solid gray;
  }
  
  .react-date-picker__wrapper {
	border: 0;
  }
  

.DatePickerWithWeekday {
  display: inline-block;
  padding-left: 3px;
  border: thin solid gray;
}
